body {
    background-image: url("Images/Pokeball.png");
    max-height: 100vh;
    background-position: center;
    /*background-size: contain;*/
    background-color: #fff5f9;
    flex-wrap: wrap;
}

/*Página de bienvenida*/
.logo {
    background-image: url("Images/Logo.png");
    background-repeat: no-repeat;
    position: relative;
    /*background-size: contain;*/
    height: 14em;
    width: 35em;
    display: flex;
    margin-left: 32%; 
    margin-top: -4%; 
}

.Pikachu {
    background-image: url("Images/Pikachu.png");
    background-repeat: no-repeat;
    /*background-size: contain;*/
    height: 24.5em;
    width: 36em;
    position: relative;
    display: flex;
    margin-left: 32%; 
    margin-top: -4%; 
}
/*Barra de carga*/
.progress-bar {
    position: absolute;
    color: rgb(107, 107, 107);
    min-height: 0.5vh;
    display: flex;
    border-radius: 0.5em;
    border: 0.094em solid rgba(0, 0, 0, 0.9);
    margin-top: -1%;
    margin-left: 37%;
}

.preloader {
    margin:auto;
    width: 350px;
    height: 20px;
    background: rgba(229, 226, 226, 0.1);
    position: relative;
}

.preloader:before{
    content: "";
    position: absolute;
    background: rgba(239, 174, 174, 1);
    border-radius: 0.5em;
    width: 0px;
    height: 20px;
    animation: preloader 10s infinite;
}

.preloader p {
    margin: 0;
    line-height: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    position: absolute;
    color: #333333;
    left: 50%;
    transform: translateX(-50%);
}
/*transicion de pagina a pagina*/
.close {
    transform:translateY(-200%);
    transition: all 0s;
}

@keyframes preloader {
    90% {
        width: 100%;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}
/*Responsive página de bienvenida*/
@media (min-width: 280px) and (max-width: 415px) and (orientation: portrait) {
    .logo {
        background-image: url("Images/Logo-responsive.png");
        background-repeat: no-repeat;
        position: relative;
        background-size: contain;
        height: 14em;
        width: 22em;
        display: ruby-text-container;;
        margin-left: -1.5%; 
        margin-top: -4%;
        background-position:center;
    }
    
    .Pikachu {
        background-image: url("Images/Pikachu-responsive.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 24.5em;
        width: 23em;
        position: relative;
        display: ruby-text-container;;
        margin-left: -6%; 
        margin-top: -16%; 
    }
    
    .progress-bar {
        position: absolute;
        color: rgb(107, 107, 107);
        min-height: 0.5vh;
        display: flex;
        border-radius: 0.5em;
        border: 0.094em solid rgba(0, 0, 0, 0.9);
        margin-top: -18%;
        margin-left: 3%;
    }
    
    .preloader {
        margin:auto;
        width: 320px;
        height: 20px;
        background: rgba(229, 226, 226, 0.1);
        position: relative;
    }
    
    .preloader:before{
        content: "";
        position: absolute;
        background: rgba(239, 174, 174, 1);
        border-radius: 0.5em;
        width: 0px;
        height: 20px;
        animation: preloader 10s infinite;
    }
    
    .preloader p {
        margin: 0;
        line-height: 20px;
        font-size: 1.25rem;
        font-weight: bold;
        position: absolute;
        color: #333333;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 416px) and (max-width: 768px) and (orientation: portrait) {
    .logo {
        background-image: url("Images/Logo-responsive.png");
        background-repeat: no-repeat;
        position: relative;
        background-size: contain;
        height: 14em;
        width: 22em;
        display: ruby-text-container;;
        margin-left: 16%; 
        margin-top: -2%;
        background-position:center;
    }
    
    .Pikachu {
        background-image: url("Images/Pikachu-responsive.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 24.5em;
        width: 23em;
        position: relative;
        display: ruby-text-container;;
        margin-left: 12%; 
        margin-top: -8%; 
    }
    
    .progress-bar {
        position: absolute;
        color: rgb(107, 107, 107);
        min-height: 0.5vh;
        display: flex;
        border-radius: 0.5em;
        border: 0.094em solid rgba(0, 0, 0, 0.9);
        margin-top: -16%;
        margin-left: 20%;
    }
    
    .preloader {
        margin:auto;
        width: 320px;
        height: 20px;
        background: rgba(229, 226, 226, 0.1);
        position: relative;
    }
    
    .preloader:before{
        content: "";
        position: absolute;
        background: rgba(239, 174, 174, 1);
        border-radius: 0.5em;
        width: 0px;
        height: 20px;
        animation: preloader 10s infinite;
    }
    
    .preloader p {
        margin: 0;
        line-height: 20px;
        font-size: 1.25rem;
        font-weight: bold;
        position: absolute;
        color: #333333;
        left: 50%;
        transform: translateX(-50%);
    }
} 

@media (min-width: 280px) and (max-width: 660px) and (orientation: landscape) {
    .logo {
        background-image: url("Images/Logo-responsive.png");
        background-repeat: no-repeat;
        position: relative;
        background-size: contain;
        height: 7em;
        width: 11em;
        display: ruby-text-container;;
        margin-left: 35%; 
        margin-top: -7.5%;
        background-position:center;
        justify-tracks: center;
    }
    
    .Pikachu {
        background-image: url("Images/Pikachu-responsive.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 8em;
        position: relative;
        display: ruby-text-container;;
        margin-left: 33%; 
        margin-top: -3%; 
    }
    
    .progress-bar {
        position: absolute;
        color: rgb(107, 107, 107);
        min-height: 0.5vh;
        display: flex;
        border-radius: 0.5em;
        border: 0.094em solid rgba(0, 0, 0, 0.9);
        margin-top: 0%;
        margin-left: 38%;
    }
    
    .preloader {
        margin:auto;
        width: 150px;
        height: 10px;
        background: rgba(229, 226, 226, 0.1);
        position: relative;
    }
    
    .preloader:before{
        content: "";
        position: absolute;
        background: rgba(239, 174, 174, 1);
        border-radius: 0.5em;
        width: 0px;
        height: 10px;
        animation: preloader 10s infinite;
    }
    
    .preloader p {
        margin: 0;
        line-height: 9px;
        font-size: 0.7rem;
        font-weight: bold;
        position: absolute;
        color: #333333;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (min-width: 400px) and (max-width: 840px) and (orientation: landscape) {
    .logo {
        background-image: url("Images/Logo-responsive.png");
        background-repeat: no-repeat;
        position: relative;
        background-size: contain;
        height: 8em;
        width: 12em;
        display: ruby-text-container;;
        margin-left: 35%; 
        margin-top: -9%;
        background-position:center;
        justify-tracks: center;
    }
    
    .Pikachu {
        background-image: url("Images/Pikachu-responsive.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 8em;
        position: relative;
        display: ruby-text-container;;
        margin-left: 33%; 
        margin-top: -3%; 
    }
    
    .progress-bar {
        position: absolute;
        color: rgb(107, 107, 107);
        min-height: 0.5vh;
        display: flex;
        border-radius: 0.5em;
        border: 0.094em solid rgba(0, 0, 0, 0.9);
        margin-top: 0%;
        margin-left: 36%;
    }
    
    .preloader {
        margin:auto;
        width: 200px;
        height: 10px;
        background: rgba(229, 226, 226, 0.1);
        position: relative;
    }
    
    .preloader:before{
        content: "";
        position: absolute;
        background: rgba(239, 174, 174, 1);
        border-radius: 0.5em;
        width: 0px;
        height: 10px;
        animation: preloader 10s infinite;
    }
    
    .preloader p {
        margin: 0;
        line-height: 9px;
        font-size: 0.7rem;
        font-weight: bold;
        position: absolute;
        color: #333333;
        left: 50%;
        transform: translateX(-50%);
    }
}

/*Tarjetas generales pokemons*/
#pokemons-pp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    position: relative;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

.individualCardPokemon {
    padding: 2%;
    margin: 3.125em;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 0.625em;
    border: 0.125em solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
    color: rgb(121, 94, 94);
    width: 14.938em;
    height: 17.688em;
}  


.fire {
    background-color: #FDDFDF;
}

.grass {
  background-color: #DEFDE0;
}

.water {
  background-color: #DEF3FD;  
}

.electric {
    background-color: #FCF7DE;
}

.ground {
    background-color: #f4e7da;
}

.rock {
    background-color: #d5d5d4;
}

.fairy {
    background-color: #fceaff;
}

.poison {
    background-color: #98d7a5;
}

.bug {
    background-color: #f8d5a3;
}

.dragon {
    background-color: #97b3e6;
}

.psychic {
    background-color: #eaeda1;
}

.flying {
    background-color: #F5F5F5;
}

.fighting { 
    background-color: #E6E0D4;
}

.normal {
    background-color: #F5F5F5;
}

.steel {
    background-color: #cdbed6;
}

.ice {
    background-color: #a7e1fc;
}

.ghost {
    background-color: #96afbb;
}

.dark {
    background-color: #c8cbcc;
}


.individualCardPokemon:hover {
    box-shadow: 0 0.875em 1.125em 0 rgba(54, 54, 54, 0.89), 0 1.188em 3.75em 0 rgba(49, 49, 49, 0.904);
    transition-duration: 0.4s;
}

h2 {
    font-family: Roboto;   
    font-size: 2rem;
    font-style: Bold;
    font-weight: 600;
    line-height: 0.25em;
    text-align: center;
}

h3 {
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: Bold;
    font-weight: 500;
    line-height: 1.25em;
    text-align: center;
}

/*Recuadro para los tipos*/
.type {
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25em;
    text-align: center;
    border-radius: 0.5em;
    margin-left: 1em;
    background-color: rgba(0, 0, 0, 0.1);
} 

/*Estilos para los filtros*/
.container-select {
    display: none;
    margin-top: -42%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    position: relative;
    /*box-sizing: border-box;*/
} 

label {
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
}

#type-select {
    height: 1.5em;
    width: 5em;
    border-radius: 0.5em;
    background: #b2c5df;   
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    margin-left: 5%;
}

#region-select {
    height: 1.5em;
    width: 6em;
    border-radius: 0.5em;
    background: #b2c5df;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    margin-left: 5%;
}

#order-select {
    height: 1.5em;
    width: 6em;
    border-radius: 0.5em;
    background: #b2c5df;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    margin-left: 5%;
}

/*Responsive página pokemons*/
@media (min-width: 280px) and (max-width: 415px) and (orientation: portrait) {
    #pokemons-pp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        position: relative;
        margin: auto;
        margin-top: -10%;
        width: 100%;
        box-sizing: border-box;
    }
}

/*Tarjetas específicas modal*/
 .espesific-information {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modal {
    width: 40%;
    height: 50%;
    /*background: #DEF3FD;*/
    transition: transform 1s;
    transform: translateX(0%);
}

.card-information {
    transform: translateX(-300%);
}

/*Botón cerrar*/
.imgClose {
    cursor: pointer;
    width: 4vh;
    height: 4vh;
    margin-left: 96%;
    margin-top: -0.5%;
}


 #modalInformation {
    margin: auto;
    height: 80vh;
    border-radius: 1.25em;
    flex-direction: column;
    padding: 1.25em;
    width: 40%;
    border: 0.063em solid #456D36;
    box-sizing: border-box;
}

.upper{
    display: flex;
    text-align: center;
    align-items: center;
}

.btnWindowA{
    cursor: pointer;
    background: #b6e6fc;
    border: 0.1rem solid #84d5fa;
    border-radius: 10%;
    color: rgb(121, 94, 94);
    padding: 0.438em 2em;
    position: absolute;
    top: 56%;
}

.btnWindowA:hover {
   background-color: #84d5fa;
}

.btnWindowB{
    cursor: pointer;
    background: #b6e6fc;
    border: 0.1rem solid #84d5fa;
    border-radius: 10%;
    color: rgb(121, 94, 94);
    padding: 0.438em 2.15em;
    position: absolute;
    top: 56%;
    margin-left: 22%;
}

.btnWindowB:hover {
    background-color: #84d5fa;
}

.btnWindowC{
    cursor: pointer;
    background: #b6e6fc;
    border: 0.1rem solid #84d5fa;
    border-radius: 10%;
    color: rgb(121, 94, 94);
    padding: 0.438em 2em;
    position: absolute;
    top: 56%;
    margin-left: 44%;
}

.btnWindowC:hover {
    background-color: #84d5fa;
}

.btnWindowD{
    cursor: pointer;
    background: #b6e6fc;
    border: 0.1rem solid #84d5fa;
    border-radius: 10%;
    color: rgb(121, 94, 94);
    padding: 0.438em 1em;
    position: absolute;
    top: 56%;
    margin-left: 60%;
}

.btnWindowD:hover {
    background-color: #84d5fa;
}

.namePoke {
    font-size: 2.25rem;
    margin-top: -6%;
    margin-left: 2%;
    color: rgb(121, 94, 94);
}

.numberPoke {
    font-size: 2rem;
    margin-top: -3%;
    margin-left: 48%;
    color: rgb(121, 94, 94);
}

.pokemonImg{
    height: 14.5em;
    position: absolute;
    top: 10%;
    margin-left: 25%;
}

.bodyA {
    position: fixed;
    top: 64%;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    margin-right: 5%;
    text-align-last: justify;
}

.bodyB {
    position: fixed;
    top: 64%;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
}

.bodyC {
    position: fixed;
    top: 64%;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5em;
}

.bodyD {
    position: fixed;
    top: 64%;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
}